* {
    margin: auto;
}

body {
    background-image: url("img/background/background-a.jpg");
}

header a {
    text-decoration: none;
    color: #8D867B;
}

header a:hover {
    text-decoration: none;
    color: #fff;
}

.head-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #0e1b24;
    border-bottom: 2px solid #72203B;
}

p {
    font-family: 'Inconsolata', monospace, sans-serif;
    font-weight: 600;
    color: #8D867B;
}  

#clock {
    font-family: 'Inconsolata', monospace, sans-serif;
    font-weight: 600;
    color: #8D867B;
}

.ressorcen img {
    width: 70px;
}

.ressorcen {
    width: 40%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.extra-space {
    padding: 0 80px 0 0;
}

.planets {
    width: 40%;
    display: flex;

}

.planets img {
    width: 100px;
    margin-top: 30px;
}

.main-box {
    width: 40%;
    height: 1000px;
    position: relative;
    background-color: #0e1b24;
}